@charset "UTF-8";

:root {
  /* 基础蓝色系 */
  --primary-color: #356bfd;
  --primary-light: #5c89ff;
  --primary-dark: #1a50d9;
  --primary-color-rgb: 53, 107, 253;
  --primary-light-rgb: 92, 137, 255;
  --primary-dark-rgb: 26, 80, 217;

  /* 辅助蓝色系 */
  --secondary-color: #3498db;
  --secondary-light: #5dade2;
  --secondary-dark: #1a6ba3;
  --secondary-color-rgb: 52, 152, 219;
  --secondary-light-rgb: 93, 173, 226;
  --secondary-dark-rgb: 26, 107, 163;
}