/node_modules
/dist
/ui
/.vscode
.DS_Store
.env
.env.local
.env.*.local
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.vscode-test
.idea
*.sublime-workspace
*.sublime-project
*.log
